@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Goudy+Bookletter+1911&display=swap');

@font-face {
    font-family: takete;
    src: url(assets/takete/takete-Regular\ copy.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Goudy Bookletter 1911", serif;
    background-color: rgb(220, 220, 220);
}
html, body {
    height: 100%;
    margin: 0;
}

.content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh; 
}

.left_side {
    padding: 20px;
    position: sticky; 
    top: 0;   
    align-self: start;
    height: 100vh;
    overflow-y: auto;   
}

.right_side {
    padding: 20px;
    border-left: 1px solid black;
    height: 100vh;
    overflow-y: scroll; 
}

span{
    font-style: italic;
    font-weight: bold;
}

img{
    max-width: 100%;
}
.contentspecific{
    padding-bottom: 30px;
    border-bottom: 1px black solid;
}

p{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.25em;
}



a{
    text-decoration: underline;
    color: black;
}
a:hover{
    font-style: italic;
}


h2{
padding-top: 20px;
padding-bottom: 30px;
font-weight: lighter;
text-align: center;
}

h1{
    font-size: 1.5em;
    text-align: center;
}


/* slider */
.mySlides-ai, .mySlides-unsent, .mySlides-core03 {
    cursor: e-resize;
}


@media (max-width:800px){
    .content{
        grid-template-rows: auto;
        grid-template-columns: none;
    }
    .left_side , .right_side{
        position: static;   
        height: auto;
        border-left: none;
    }
    .Resume{
        display: none;
    }
    .left_side{
        border-bottom: 1px solid black;
    }

    
}