@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

html{
    font-family: "Inter", sans-serif;
    cursor: url(assets/X.png), auto;
}

.title{
    background-color: white;
    border: .5px solid black;
    top: 0;       
    padding: 10px;
    width: 50%;
    position: sticky;
    top: 0;
    z-index: 10;
}
    h1{
        font-size: 3rem;
        font-style: normal;
        font-weight: 400;
    }
    li{
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        list-style: none;
        display: inline-block;
    }

.grid_left{
    width: 100%;
    border-right: .5px solid black;
}

    .work{
        border-bottom: .5px black solid;
        padding: 10px;
        display: block;
    }
    .work:hover{
        background-color: #000000;
        color: white;
    }

    h2{
        font-size: 3rem;
        font-style: normal;
        font-weight: 300;
    }
    span{
        border-radius: 100%;
        font-size: 1rem;
        color: white;
    }


.grid_right{
    left: 50%;
    top: 0;
    width: 100%;
    /* position: fixed; */
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

p{
    font-size: 1rem;
    padding: 20px;
    margin-top: -10px;
}

.green{
    background-color: #57FF62;
    color: white
}

img{
    width: 100%;
}

.nav{
    position: fixed;
    display: flex;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 20; 
}

.back:hover{
    color: #57FF62;
}
.next:hover{
    color: #57FF62;
}

.next{
    font-size: 100px;
}
.back{
    font-size: 100px;
}