@import url("https://use.typekit.net/kaz6shd.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html, body {
    height: 100%;
    margin: 0;
}

.content {
    display: grid;
    grid-template-columns: .5fr 2fr;
    height: 100vh; 
}

.left_side {
    padding: 20px;
    position: sticky; 
    top: 0;   
    align-self: start;
    height: 100vh;
    overflow-y: auto;  
    background-color: rgb(27, 27, 30); 
    color: rgb(220, 220, 220);
}

.right_side {
    padding: 20px;
    border-left: 1px solid black;
    height: 100vh;
    overflow-y: scroll; 
}

span{
    font-weight: bold;
}

img{
    max-width: 100%;
}
.contentspecific{
    padding-bottom: 30px;
    border-bottom: 1px black solid;
}

p{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 1.25em;
    font-family: "marion-standard", serif;
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: none;
    font-style: italic;
    color: rgb(220, 220, 220);
}
a:hover{
    text-decoration: underline;
}


h2{
padding-top: 20px;
padding-bottom: 30px;
font-weight: lighter;
text-align: center;
}

h1{
    font-size: 1.5em;
    text-align: center;
    font-family: "marion-standard", serif;
    font-weight: 400;
    font-style: normal;
}

.linktowork{
    border-bottom: 1px rgb(220, 220, 220) solid;
    margin-left: -20px;
    margin-right: -20px;
    top: 0;
}

h3{
    border-top: 1px rgb(220, 220, 220) solid;
    font-weight: 400;
    font-style: italic;
    padding-left: 20px;
    padding-right: 20px;
}
h3:hover{
    background-color: rgb(220, 220, 220);
   color: rgb(27, 27, 30); 
}


.dates{
    font-family: "marion-standard", sans-serif;
font-weight: 400;
font-style: italic;
}

/* slider */
.mySlides-ai, .mySlides-unsent, .mySlides-core03, .myslides-Pipenco {
    cursor: e-resize;
}


@media (max-width:800px){
    .content{
        grid-template-rows: auto;
        grid-template-columns: none;
    }
    .left_side , .right_side{
        position: static;   
        height: auto;
        border-left: none;
    }
    .Resume{
        display: none;
    }
    .left_side{
        border-bottom: 1px solid black;
    }

    
}